ul{
    list-style-type: none;
}
.d{
    display: flex;
    justify-content: space-between;
}
.one{
    height: 1px;

    background-color: rgb(3, 20, 3);
}
.d1{
    margin-left: 550px;
}
.d2{
    margin-left: 20x;
}
.d3{
    margin-left: 20px;
}
.d4{
    margin-left: 20px;
}
.d5{
    margin-right: 550px;
}

.d1:hover { 
text-decoration: underline;
color: aliceblue;}
.d2:hover { 
    text-decoration: underline;
    color: aliceblue;}
    
.d3:hover { 
    text-decoration: underline;
    color: aliceblue;}
.d4:hover { 
    text-decoration: underline;
    color: aliceblue;}
.d5:hover { 
    text-decoration: underline;
    color: aliceblue}
.c{
    background-image: ;
}
.img{
    margin-left: 100px ;
    margin-top: 50px;
    border-radius: 30 px;
}
.row{
    display: flex;
    justify-content: flex-end;
}
.r{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
.s{
    font-size: 100px;
   position: absolute;
   left: 1000px;
   top: 100px;
}
.img img{
    border-radius: 10px;
}
.btn:hover{
    background-color: black;
    color: aliceblue;
    box-shadow: 5px 5px rgba(7, 3, 61, 0.144) ;

}
.btn{
    background: radial-gradient(circle, rgba(122,116,224,1) 0%, rgba(5,43,106,1) 100%);
    color: aliceblue;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    position: absolute;
    left: 1300px;
    top: 500px;
}
.img:hover img{
    border-radius: 10px;
    transform: scale(2);
    transform: rotate(360deg);
    transition: 3s;
}
#all {
    transition: 3s;
    }
body{
    background: linear-gradient(45deg, #fff1eb, #ace0f9);
}
.next{
    height: 1px;
    background-color: blue;
    margin-top: 5px;
}